@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared_Style */

.dark-1{
    color: rgba(0, 0, 0, 1);
}

.dark-2{
    color: rgba(137, 135, 161, 1);
}

.back{
    background-color: rgb(245,248,255);
}

.dark-3{
    color: rgba(0, 0, 0, 0.5);
}

.orange-1{
    color:rgba(233, 90, 8, 1);
}

.display-flex{
    display: flex;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav */

.navbar{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    text-decoration: none;
    align-items: center;
}

.nav-items{
    list-style: none;
    margin-right: 45px;
}
.nav-links{
    padding-left: 0px;
    font-size: 1rem;
}
.cart-logo{
    margin-right: 5px;
}
.cart{
    margin-right: 0px;
}
.home{
    font-weight: 700;
}

/* banner */
.banner{
    height: 461px;
}
.banner-content{
    align-content: flex-end;
}

.banner-head{
    font-size: 4rem;
}
.banner-des{
    font-size: 1.375rem;
    margin-bottom: 0px;
}

.banner-pic{
    width: 100%;
    align-content: flex-end;
}

/* our plants */

.Our-plants{
    text-align: center;
}
.plants-head{
    font-size: 3.125rem;
    margin-top: 55px;
    margin-bottom: 15px;
}
.plants-des{
    font-size: 1.375rem;
    width: 888px;
    margin: 0 auto
}

.plant-carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    margin-top: 49px;
}

.cart-img{
    width: 100%;
}

.cart-head{
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 10px;
}
.cart-price{
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0;
}
.cart-btn{
    background-color: rgba(233, 90, 8, 1);
    color: white;
    font-size: 1rem;
    border: none;
    width: 270px;
    height: 50px;
    margin-top: 30px;
    padding: 0;

}






/* responsive */

@media screen and (max-width:576px){
    .navbar{
        max-width: 362px;
        margin: 0 auto;
    }

    .nav-logo{
        width: 63px;
        height: 38px;
    }

    .display-hide{
        display: none;
    }
    .banner{
        max-width: 393px;
        margin: 0 auto;
        height: auto;
        flex-direction: column-reverse;
    }
    .banner-content{
        max-width:362px;
        margin: 0 auto;
        justify-content: flex-start;
        
    }

    .banner-head{
        font-size: 1.5rem;
    }
    .banner-des{
        font-size: .9rem;
    }

    .banner-pic{
        max-width: 393px;
    }

    .plants-head{
        width: 393px;
        font-size: 1.5rem;

    }

    .plants-des{
        width: 336px;
        height: 68px;
        font-size: .9rem;
    }
    .plant-carts{
        grid-template-columns: repeat(2, 1fr);
        max-width: 362px;
        margin: 0 auto;
        margin-top: 20px;

    }
    .cart-items{
        max-width: 171px;
    }
    .cart-btn{
        max-width: 171px;
    }
    
}